@model Pisciculture_dotnet2.Models.Nourrissage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nourrissage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNourrissage" />
            <div class="form-group">
                <label asp-for="IdAliment" class="control-label"></label>
                <select asp-for="IdAliment" class="form-control" asp-items="ViewBag.IdAliment"></select>
                <span asp-validation-for="IdAliment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDobo" class="control-label"></label>
                <select asp-for="IdDobo" class="form-control" asp-items="ViewBag.IdDobo"></select>
                <span asp-validation-for="IdDobo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoidsAliments" class="control-label"></label>
                <input asp-for="PoidsAliments" class="form-control" />
                <span asp-validation-for="PoidsAliments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNourrissage" class="control-label"></label>
                <input asp-for="DateNourrissage" class="form-control" />
                <span asp-validation-for="DateNourrissage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
