@model IEnumerable<Pisciculture_dotnet2.Models.Dobo>

@{
    ViewData["Title"] = "Index";
}

<h4>Liste Bassin</h4>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>@item.IdDobo</td>
        @* <td> *@
        @*     <a asp-action="Edit" asp-route-id="@item.IdDobo">Edit</a> | *@
        @*     <a asp-action="Details" asp-route-id="@item.IdDobo">Details</a> | *@
        @*     <a asp-action="Delete" asp-route-id="@item.IdDobo">Delete</a> *@
        @* </td> *@
    </tr>
}
    </tbody>
</table>
